#nav_menu ul {
    list-style-type: none;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; /* padding above and below a
    elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem {
    border-right: none;
}
#nav_menu ul li a.current {
    color: yellow;
}
article {
    float: left;
}
aside {
    float: left;
}
aside ol {
    list-style-type: upper-roman;
}
aside ul {
    list-style-type: square;
}
body {
    background-image: url("../images/shsu.png135435.png");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: right;
}
article image {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article {
    clear: left;
    width: 70%;        float: left;
    column-count: 3;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}
a:focus, a:hover {
    font-style: italic;
    color:orangered;
    border: 3px blue;
    border-style: dotted;
}
footer {
    clear: both;
    border-top: 2px solid maroon;
}
aside {
    width: 20%;
    float: right;
    background-color: deepskyblue;
}